body{
    margin: 0;
}

header{
    border-bottom: 2px solid grey;
}

main {
  display: flex;
}

#box-tags{
    margin-bottom: 1rem;
}

.btnTag {
  border: 1px solid rgb(220, 16, 126);
  outline: none;
  padding: 0.75rem 1rem;
  background-color: rgb(249, 249, 249);
  cursor: pointer;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.btnTag-clicked,
.btnTag:hover,
.menu ul li a:hover,
.settings ul li a:hover{
    background-color: rgb(220, 16, 126);
    color: white;
}

.navbar-lateral{
    border-right: 2px solid grey;
    width: 23rem;
}

.nav-menu .menu{
    margin-top: 8rem;
}

.nav-menu .settings{
    margin-top: 5rem;
}

.nav-menu .menu h2,
.nav-menu .settings h2{
    text-transform: uppercase;
    margin-left: 2rem;
    margin-bottom: 0;
  font-weight: 200;
  font-size: 1rem;
}

.nav-menu .menu ul,
.nav-menu .settings ul{
    list-style-type: none;
    padding-left: 0;
}

.nav-menu .menu ul li,
.nav-menu .settings ul li{
    
}

.nav-menu .menu ul li a,
.nav-menu .settings ul li a{
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    display: inline-block;
    width: 15rem;
    padding: 1rem 0 1rem 2rem;
}

.nav-menu .menu ul li a i,
.nav-menu .settings ul li a i{
    margin-right: 1rem;
}

.nav-menu{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.nav-menu .settings ul{
    padding-left: 0;
}

.nav-menu .footer{
    margin-top: auto;
    margin-left: 2rem;
    margin-bottom: 2rem;
}

.nav-menu .footer img{
    width: 10rem;
}

.nav-menu .footer p{
    margin: 0;
}

.cards{
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.persona,
.nav-header-ul,
.search-friends {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-friends {
    display: flex;
    justify-content: end;
    position: relative;

}

#search-friends__input{
    border: 1px solid grey;
    outline: none;
    padding: 0.75rem 1rem;
    background-color: rgb(238, 238, 238);
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    font-weight: 700;
    width: 20rem;
    color: black;
    font-size: 1rem;
    font-weight: 700;
    padding-left: 2rem;
}

.search-friends i{
    position: absolute;
    font-size: 1.5rem;
    right: 1rem;
}

.nav-header-ul {
  list-style: none;
  justify-content: space-between;
  padding-right: 40px;
}

.persona{
    width: 19rem;
    display: flex;
    justify-content: space-between;
}

.persona > img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.name-email__name,
.name-email__email{
    margin: 0;
    font-size: 1.5rem;
}

.name-email__name{
    font-weight: 700;
}

#users-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  justify-items: center;
}

#users-list div{
    border: 2px solid black;
    box-shadow: 10px 5px 5px black;
    background-color: grey;
    display: flex;
    flex-direction: column;
    width: 18rem;
    overflow: hidden;
    
}

#users-list div button{
    display: flex;
    justify-content: end;
    margin-top: 1rem;
    margin-right: 1rem;
}

#users-list div .heart{
    cursor: pointer;
    background-color: grey;
    border: none;
    font-size: 2rem;
}

.idUserDetails img{
    width: 16rem;
    margin-top: -5rem;
}

.heart-favorite{
    color: yellow;
}

.heart-not-favorite{
    color: black;
}

#users-list div a{
    color: white;
    text-align: center;
    max-width: 100%;
    max-height: 100%;
}